<div class="header" style= "font-size: 1em;">
    <div class="ad">We value you. May encounter minor delays due to Covid. -  <a href="shipping">FAQs</a></div>
    <div class="mainHeader"> 
        <div class="logo"> Guzi</div>
        <div class="searchBar"><div class="text">Search</div>

            <span class="iconify" data-icon="bi:search" data-inline="false"></span>
        </div>
        <div class="newNav">
            <div class="navItem">Account
                <span class="iconify" data-icon="bx:bxs-user-account" data-inline="false"></span>
            </div>
            <div class="navItem">Wishlist
                <span class="iconify" data-icon="maki:gift-15" data-inline="false"></span>
            </div>
            <div class="navItem">Cart
                <span class="iconify" data-icon="clarity:shopping-cart-solid-badged" data-inline="false"></span>
            </div>
        </div>
    </div>
    <div class="categories">
        <div class="categoryItems">Category#1</div>
        <div class="categoryItems">Category#2</div>
        <div class="categoryItems">Category#3</div>
        <div class="categoryItems">Category#4</div>
        <div class="categoryItems">Category#5</div>
    </div>
</div>