<div class="footer">
    <div class="productSection">
        <div class="linkSection">
            <div class="firstCatergory">
                <div class="footerHeading">First Category</div>
                <div class="footerText">Text Item</div>
                <div class="footerText">Text Item</div>
                <div class="footerText">Text Item</div>
                <div class="footerText">Text Item</div>
                <div class="footerText">Text Item</div>
            </div>
            <div class="secondCategory">
                <div class="footerHeading">Second Category</div>
                <div class="footerText">Text Item</div>
                <div class="footerText">Text Item</div>
                <div class="footerText">Text Item</div>
                <div class="footerText">Text Item</div>
                <div class="footerText">Text Item</div>
            </div>
            <div class="thirdCategory">
                <div class="footerHeading">Third Category</div>
                <div class="footerText">Text Item</div>
                <div class="footerText">Text Item</div>
                <div class="footerText">Text Item</div>
                <div class="footerText">Text Item</div>
                <div class="footerText">Text Item</div>
            </div>
        </div>
        <div class="line"></div>
        <div class="connectSection">
            <div class="footerHeading">
                Mailing List
            </div>
            <div class="footerText">
                Sign up to our daily news letter
            </div>
            <form class = "subscribeEmail">
                <input type="email" id="email" name="email" placeholder="Your email" required>
                <button class = "filledButton" type="submit" >Submit</button>
            </form>
            <div class="connectLinks">
                <div class="socialMedia">
                    <div class="footerHeading">
                        Follow us:
                    </div>
                    <div class="mediaIcons">
                        <span class="iconify" data-icon="bx:bxl-facebook" data-inline="false"></span>
                        <span class="iconify" data-icon="bx:bxl-instagram" data-inline="false"></span>
                        <span class="iconify" data-icon="bx:bxl-twitter" data-inline="false"></span>
                        <span class="iconify" data-icon="bx:bxl-pinterest" data-inline="false"></span>
                    </div>
                    
                </div>
                <div class="line"></div>
                <div class="appDownload">
                    <span class="iconify" data-icon="raphael:iphone" data-inline="false"></span>
                    <div class="footerText">Download the app</div>
                </div>
            </div>

        </div>
    </div>
    <div class="policySection">
        <div class="policies">
            <div class="text"> &#169; 2021 Guzi</div>
            <div class="line"></div>
            <div class="text"> Privacy Policy</div>
            <div class="line"></div>
            <div class="text"> Terms of Use</div>
            <div class="line"></div>
            <div class="text"> CA Privacy</div>
            <div class="line"></div>
            <div class="text"> Customer Service</div>
        </div>
    </div>
</div>